body {
  background-color: rgb(30, 30, 30);
  padding: 20px 0;
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.grid_row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 16fr 2fr;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: stretch;
  grid-auto-flow: column;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 1;
  text-align: center;
  font-size: 3em;
  margin-bottom: 160px;
}

h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 1;
  text-align: left;
  font-size: 2em;
}

.annotation {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-text {
  color: #818181;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  line-height: 18pt;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.body-text strong, .stats-table strong {
  color: #dddddd;
  font-weight: 900;
}

.body-text em, .stats-table em {
  color: #b3b3b3;
  font-weight: normal;
  font-style: normal;
}

small {
  color: #898989;
  font-size: 8pt;
  font-family: Georgia, "Times New Roman", Times, serif;
}

small em {
  color: #c0c0c0;
}

ul {
  list-style-type: none;
}

ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em;
}

.click-icon {
  font-size: 18px;
  padding-right: 5px;
}

table.stats-table {
    width: 100%;
}

table.stats-table td {
  border-right: 1px solid white;
  color: rgb(112, 112, 112);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8em;
  padding: 30px;
  text-align: center;
  width: 33%;
}

table.stats-table td:last-child {
  border-right: none;
}

.copyright {
    padding-top: 100px;
    color: #898989;
    font-size: 8pt;
    text-align: end;
}