body {
    background-color: rgb(30, 30, 30);
}

.main_grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%
}

.grid_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.industries_grid_row {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    width: 100%;
}